body {
    background-color: #f9cbff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: lighter;
}

h1, footer {
    padding: 5px;
    margin: 0 10px;
}

p {
    color: black;
    font-size: 20px;
    width: 0 auto;
}

a {
    color: black;
    font-size: 20px;
}

.croissant-photo {
    max-width: 100%;
    border-radius: 10px;
    margin: 30px auto;
    display: block;
}